.navbar {
    display: flex;
     gap: 300px;
     align-items: baseline;
}
.navbar h1{
    color:blue;
    margin-left: 50px;
}
.nav1 a{
  color:black; 
  text-decoration: none;
  margin-right: 40px;
}

.nav1 a:hover{
  color:blue; 
}
.nav1 button{
    border-radius: 10px;
    background-color:white;
    margin-right: 20px;
}

.nav1 button:hover{
    background-color:rgb(217, 231, 236) ;
}

.backgroundImg{
    width:  1350px;
    height:100%;
    background-image: url('first-image.jpeg');
    background-size: cover;
}

.bImg {
  padding-left: 100px;
  padding-top: 40vh;
  padding-right:90px; 
}
.bImg h1{
  color:white;  
}

.form{
 position:relative;
 display: flex;
 gap:15px;
 align-items: center;
 border-radius:10px;
 background-color:white;
 background-size: cover;
 width:1100px;
 height:90px;
}
 form button{
    color:white;
    background-color:rgb(10, 79, 226);
    border-radius: 30px;
    border:1px solid black;
    width:90px;
    height:40px;
 }
 .form input{
    border:1px solid black;
    border-radius: 10px;
    width:255px;
    height:40px;
    margin-left:20px;
 }

 .belowbImg{
    background-color: rgb(3, 3, 41);
    display:flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 30px;
    margin-right:90px; 
    border-radius:10px;
    
 }
  .belowbImg button{
    background-color: rgb(10, 79, 226);
    color:white;
    border-radius:30px;
    margin-left:580px;
 }
  .belowbImg p{
    color: white;
    padding-left:60px;
 }
 .picContainer{
    display: flex;
    width: 80%;
    height:auto;
    margin-top: 30px;
 }
  .picContainer img{
    width: 200px;
     border-radius: 10px;
   
    
 }
 .oneImg{
    display: flex;
    margin-left: 60px;
    background-color: blue;
    border-radius: 10px;
    color:white;
 }

  .twoImg{

    display: flex;
    margin-left: 80px;
    background-color: blue;
     border-radius: 10px;
      color:white;
 }

  .threeImg{
    display: flex;
    margin-left: 130px;
    background-color: blue;
     border-radius: 10px;
      color:white;
 }
.accommodation{
    padding-left: 60px;
}
 .acImg {
display: flex;
gap:20px;
color:white;
 }
 .acImg p{
    margin-top: 240px;
    font-family: Bold;
    font-weight: 600;
 }

 .acImg1{
     background-image: url('./images/ac1.jpeg');
     width:200px;
    height:auto;
    background-size: cover;
    border-radius: 10px;
 }
  .acImg2{
     background-image: url('./images/ac2.jpeg');
     width:200px;
    height:auto;
    background-size: cover;
    border-radius: 10px;
 }
  .acImg3{
     background-image: url('./images/ac3.jpeg');
     width:200px;
    height:auto;
    background-size: cover;
    border-radius: 10px;
 }
  .acImg4{
     background-image: url('./images/ac4.jpeg');
     width:200px;
    height:auto;
    background-size: cover;
    border-radius: 10px;
 }
  .acImg5{
     background-image: url('./images/ac5.jpeg');
     width:200px;
    height:auto;
    background-size: cover;
    border-radius: 10px;
 }
  .acImg6{
     background-image: url('./images/ac6.jpeg');
     width:200px;
    height:auto;
    background-size: cover;
    border-radius: 10px;
 }
 
 
.input1 img{
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: inherit;
}
.input1 input{
    padding-left: 36px;
}

.input2 img{
  position: absolute;
  left: 360px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: inherit;
}
.input2 input{
    padding-left: 36px;
}
.input3 img{
  position: absolute;
  left: 685px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: inherit;
}
.input3 input{
    padding-left: 28px;
}




html,body{
    margin: 0;
    padding:0;
    height:100%;
}