.navbar {
    display: flex;
     gap: 300px;
}
.navbar h1{
    color:blue;
    margin-left: 50px;
}
.nav1 a{
  color:black; 
  text-decoration: none;
  margin-right: 40px;
}

.nav1 a:hover{
  color:blue; 
}
.nav1 button{
    border-radius: 10px;
    background-color:white;
    margin-right: 20px;
}

.nav1 button:hover{
    background-color:rgb(217, 231, 236) ;
}

.backgroundImg{
    width:  1350px;
    height:100%;
    background-image: url('first-image.jpeg');
    background-size: cover;
}

.bImg {
  padding-left: 100px;
  padding-top: 40vh;
  padding-right:90px; 
}
.bImg p{
  color:white;  
}

.form{
 display: flex;
 gap:15px;
 align-items: center;
 border-radius:10px;
 background-color:white;
 background-size: cover;
 width:1100px;
 height:90px;
}
 form button{
    color:white;
    background-color:rgb(10, 79, 226);
    border-radius: 30px;
    border:1px solid black;
    width:90px;
    height:40px;
 }
 .form input{
    border:1px solid black;
    border-radius: 10px;
    width:290px;
    height:40px;
    margin-left:20px;
 }

 .belowbImg{
    background-color: rgb(3, 3, 41);
    display:flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 30px;
    margin-right:90px; 
    border-radius:10px;
    
 }
  .belowbImg button{
    background-color: rgb(10, 79, 226);
    color:white;
    border-radius:30px;
    margin-left:580px;
 }
  .belowbImg p{
    color: white;
    padding-left:60px;
 }
html,body{
    margin: 0;
    padding: 0;
    height:100%;
}